<!DOCTYPE html>
<html lang = "en" xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Student</title>
</head>
<body>
	<h1>Add Student</h1>
	<form th:action="@{/add-student}" method = "post" th:object = "${studentDTO}">
	<label>Name</label>
	<input type="text" placeholder = "Enter your name" th:field="*{name}"><br><br>
	<p th:if = "${#fields.hasErrors('name')}" th:errors = "*{name}"></p>
	<label>Age</label>
	<input type="number" placeholder="Enter your age" th:field="*{age}" ><br><br>
	<p th:if = "${#fields.hasErrors('age')}" th:errors = "*{age}"></p>
	
	<label>Email</label>
	<input type="email" placeholder = "Enter your email" th:field="*{email}"><br><br>
	<p th:if = "${#fields.hasErrors('email')}" th:errors = "*{email}"></p>
	
	<label>Password</label>
	<input type="number" placeholder = "Enter your password" th:field="*{password}"> <br><br>
	<p th:if = "${#fields.hasErrors('password')}" th:errors = "*{password}"></p>
	
	<button type="submit">Add Student</button>
	</form>
</body>
</html>